#root {
  max-width: 1280px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.center {
  margin-top: auto;
  margin: auto;

}

.mar{
margin-top: auto;
margin-bottom: -1%;
}

.card {
  width: 300px; /* Adjust width as needed */
  background-color: #636363;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin: center; /* Adjust margin as needed */
  padding: 4%; /* Adjust padding as needed */
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: 0px 0px 40px rgba(150, 150, 150, 0.2); /* Increased shadow on hover */
}

.btnsearch {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 30%;
  font-size: 80%;
}

.search-bar {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: center; /* Makes the search bar and icon sit side-by-side */
  width: 90%; /* Adjust width as needed */
  background-color: #8b8b8b;
  border-radius: 5px;
  padding: 1%;
  margin: auto

}

.search-input {
  background-color: transparent; /* Removes default background color */
  border: none; /* Removes default border */
  border-radius: 5px;
  outline: none; /* Removes default outline */
  padding-left: 10px;
  padding-right: 10px; /* Add space for potential search icon */
  font-size: 16px;
  width: 90%; /* Fills remaining space in the search bar */
}

.search-input:focus { /* Optional styling for focus state */
  background-color: #aaaaaa;
}

.read-the-docs {
  color: #888;
}

img {
  width: 40%;
  height: 20%;
}